img {
    width: auto;
    height: 100px;
}

.normalCards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 16px;
}

.card {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(22, 17, 11);
    text-align: center;
    max-width: 250px;
    display: inline-block;
    padding: 20px;
}

.card .CardImage {
    width: 120px;
    height: 120px;
    object-fit: contain;
    border-radius: 50%;
}

.card .cardTitle {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.card .cardDes {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(21, 9, 9);
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.styleInReact {
    margin-top: 20px;
}

.button {
    padding: 20px;
    color: black;
    background-color: rgb(62, 217, 244);
    margin: 0 auto;
    border-radius: 5px;
    margin: 20px;
    border: none;
}

.button:hover {
    background-color: brown;
    color: white;
}

.studentDetails {
    display: flex;
    justify-content: center;
    margin: 20px
}

.student {
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 22px;
}

.welcome-msg {
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 22px;
    display: inline-block;
    border-radius: 5px;
}

.login-msg {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 22px;
    display: inline-block;
    border-radius: 5px;
}